
.left-background {
	width: 512px;
	height: 700px;
	background: #000000;
	margin-top: 83px;
	position: fixed;
	left: 0px;
	opacity:0.5;
	z-index: -10;
	transform:scale(2,2)
}

.right-background {
	width: 940px;
	height: 700px;
	background: #33a333;
	position: fixed;
	top: 0px;
	left: 0px;
	opacity:0.5;
}
.background_{
	padding: 0;
	margin: 0;
	width: 10rem;
	height: 10rem;
	background-color: indianred;
	background-repeat:no-repeat;
    background-position:0rem 0rem;
    background-position:500px 1000px;
}
.background{
	width: 100px;
	height: 200px;
	background: gray;
	position: fixed;
	top: 384px;
	left: 540px;
}
.background1{
	width: 1550px;
	height: 700px;
	background: red;
	position: fixed;
	top: 20%;
	left: 1%;
}