html,
body,
#sticker {
	height: 90%;
}

body>#sticker {
	height: 1px;
	min-height: 100%;
}

#stickerCon {
	padding-bottom: 100px;
}

#footer {
	margin-top: 40px;
	height: 28px;
	width: 100%;
	text-align: center;
	line-height: 25px;
	color: #ABA498;
	font-size: 18px;
	background: rgba(51, 51, 51, 0.8);
	border-top: 1px solid #000000;
}

#timer {
	font-size: 20px;
	position: relative;
	left: 80%;
	top: -25px;
	width: 290px;
	height: 28px;
}


